Django==5.0.6
django-sendfile2==0.7.1
django-vite==3.0.4
python-dotenv==1.0.1
supervisor==4.2.5
uvicorn==0.30.1

{% if database.engine == 'postgres' %}
psycopg==3.2.1
{% endif %}

{% if cache.backend == 'memcached' %}
pymemcache==4.0.0
{% endif %}
